*,*::before,*::after {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', 'sans-serif';
            box-sizing: border-box;
        }

body {
    overflow: hidden;
    background-color: black;
    font-size: 2vh;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined.inc {
    font-size: 20vw;
    color: rgb(200, 200, 200);
    cursor: pointer;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: minmax(20px, 7vh) repeat(4, 1fr);
    overflow: hidden;
}

.top {
    grid-row: 1/1;
    grid-column: 1/-1;
    justify-content: center;
    background-color: rgb(3, 3, 3);
    z-index: 999;
}

.navigation {
    grid-row: 2/-1;
    grid-column: 1/3;
    background-color: rgb(5, 5, 5);
    font-size: 2rem;
    padding-left: 2vw;
    padding-top: 1vh;
    color: white;
    opacity: 0.9;
    z-index: 8;
}

.search {
    width: 40vw;
    min-height: 5vh;
    display: inline-block;
    border-radius: 5px;
    /* background-color: green; */
    margin-left: 30vw;
}

.search input {
    display: inline-block;
    width: 80%;
    min-height: 3vh;
    margin-left: auto;
    margin-right: -5px;
    background-color: white;
    text-align: center;
    padding: 5px;
    padding-left: 10px;
    color: black;
}
.main {
    grid-column: 1/-1;
    grid-row: 2/-1;
    background-color: black;
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    z-index: 9;
}

img {
    border-radius: 5px;
}

.ac {
    /* display: inline-block; */
    float: right;
    width: 5vh;
    height: 5vh;
    background-color: hsl(0, 0%, 84%);
    border-radius: 50%;
    margin-right: 10px;
}

.ac:hover {
    background-color: gray;
    cursor: pointer;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}
.log-in {
    background-image: linear-gradient(to right, rgb(41, 161, 41) 0%, rgb(41, 161, 41) 30%, rgb(5,5,5) 30%, rgb(5,5,5) 100%);
}
.sign-up {
    background-image: linear-gradient(to right, rgb(0,187,255) 0%, rgb(0,187,255) 40%, rgb(5,5,5) 40%, rgb(5,5,5) 100%);
}
a {
    text-decoration: none;
    color: white;
}
li {
    color: rgb(200, 200, 200);
    font-weight: 200;
}

li:hover {
    background-color: rgb(20, 20, 20);
    color: white;
    cursor: pointer;
    border-radius: 2%;

}

li:active {
    background-color: #50717b;
}

.fmenu {
    height: 100%;
    width: 7vh;
    background-color: rgb(3, 3, 3);
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 1200px) {

    .search button {
        width: 20px;
    }

    .main {
        grid-column: 1/-1;
    }

    .navigation {
        grid-column: 1/8;
    }
}